.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  height: 50px;
  border-radius: 10.3px;
  box-shadow: 0 3.4px 3.4px 0 rgba(0, 0, 0, 0.25);
  padding: 14px 28px;
  cursor: pointer;
  background-color: gold;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline-color: #5cd3a8;
}
.select:hover {
  background-color: rgb(253, 228, 87);
}
