.btnLoadMore {
  margin: 0 auto;
  width: 196px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  border-radius: 10.3px;
  box-shadow: 0 3.4px 3.4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ebd8ff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 36px;
}
.btnLoadMore:hover {
  background-color: #efe6f8;
}
.btnDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
